.button_type_delite {
    width: 18px;
    height: 19.3px;
    object-fit: cover;
    position: absolute;
    top:18px;
    right: 15px;
    cursor: pointer;
    transition: 0.25s linear;
}

.button_type_delite:hover {
    opacity: 0.6;
}