.popup__data {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding:0 ;
    height: 39.08px;
    line-height: 17px;
    font-weight: normal;
    font-size: 14px;
    margin-top: 36px; 
    outline: none;  
}

@media screen and (max-width:500px) {
    .popup__data {
       margin-top: 65px;
   }}