.popup__data_error {
    margin: 5px 0 0 2px;
    height: 27px;
    font-size: 12px;
    line-height: 15px;
    color: red;
    }

    @media screen and (max-width: 400px) {
        .popup__data_error {
            font-size: 9px;
            line-height: 10px;
            margin: 5px 0 0 2px;
        }
    }