.popup__button-close {
    background: url(./../../../images/Close-popup.svg) center no-repeat;
    width: 40.7px;
    height: 40.7px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top:-43px;
    right: -43px;
    cursor: pointer;
    transition: 0.25s linear;
    border: 0;
    outline: none;
}

.popup__button-close:hover {
  opacity: 0.6;

}

@media screen and (max-width:500px) {
    .popup__button-close {
        top: -52px;
        right: -2px;
    }
    .button-close:hover{
        top: -52px;
        right: -2px;
    }}